body{
background: rgba(238,244,247,1);
background: -moz-linear-gradient(left, rgba(238,244,247,1) 0%, rgba(71,75,77,1) 94%, rgba(71,75,77,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,244,247,1)), color-stop(94%, rgba(71,75,77,1)), color-stop(100%, rgba(71,75,77,1)));
background: -webkit-linear-gradient(left, rgba(238,244,247,1) 0%, rgba(71,75,77,1) 94%, rgba(71,75,77,1) 100%);
background: -o-linear-gradient(left, rgba(238,244,247,1) 0%, rgba(71,75,77,1) 94%, rgba(71,75,77,1) 100%);
background: -ms-linear-gradient(left, rgba(238,244,247,1) 0%, rgba(71,75,77,1) 94%, rgba(71,75,77,1) 100%);
background: linear-gradient(to right, rgba(238,244,247,1) 0%, rgba(71,75,77,1) 94%, rgba(71,75,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef4f7', endColorstr='#474b4d', GradientType=1 );
}